<h1> Add A New Trainer </h1>


<form action="/trainer" method="post">
  <label> Name: </label>
  <input type="text" name="trainer[name]">
  <label> Level:  </label>
  <input type="text" name="trainer[level]">
  <label>Photo URL</label>
  <input type="text" name="trainer[img_url]">
  <input type="submit" value="Click here to add a new trainer!">
</form>
