<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/pokestyle.css">
    <title> POKEMON </title>
  </head>
  <body>
    <a href="/"><h1> POKEMON!!!! </h1></a>
    <a href="/pokemon"> Click here for Pokemon View! </a>
    <a href="/trainer"> Click here for Trainer View! </a>
    <%=yield%>
  </body>
</html>
