<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> POKEMON </title>
    <link rel="stylesheet" href="public/css/pokestyle.css">
  </head>
  <body>
    <h1> POKEMON!!!! </h1>
    <%=yield%>
  </body>
</html>
